
<div class="padding" on-swipe-left="next()" on-swipe-right="previous()">

    <div class="period">{{selectedPeriod}}</div>

    <div class="button-bar">
        <div class="col text-left">
        <button ng-click="showToday()" class="button button-small button-positive" >
            ToDay
        </button>
            </div>
            <div class="col text-center">
        <button ng-click="showWeek()"class="button button-small button-positive" >
            Week
        </button>
            </div>
                <div class="col text-right">
        <button ng-click="showMonth()"class="button button-small button-positive" >
            Month
        </button>
                </div>
    </div>
    <div ng-show="selectedType != 'day'">
        <div class="row">
            <button class="col button button-clear button-small button-positive">Sun</button>
            <button class="col button button-clear button-small button-positive">Mon</button>
            <button class="col button button-clear button-small button-positive">Tue</button>
            <button class="col button button-clear button-small button-positive">Wed</button>
            <button class="col button button-clear button-small button-positive">Thu</button>
            <button class="col button button-clear button-small button-positive">Fri</button>
            <button class="col button button-clear button-small button-positive">Sat</button>
        </div>

        <div ng-cloak class="row" ng-repeat="week in weeks">
            <button class="col" id="notebutton"
                  ng-style="buttonheight"
                  ng-class="{ today: day.isToday, 'different-month': !day.isCurrentMonth, selected: day.date.isSame(selected) }"
                  ng-click="select(day)" animation="slide-in-up"
                  ng-repeat="day in week.days" style="font-size:x-small;white-space:pre-wrap;" ng-bind="day.note">
            </button>
        </div>
    </div>
    <div ng-show="selectedType == 'day'">
        <button class="button  icon ion-plus button-positive" style="float:right;" ng-click="openModal(null);"></button>
        <br><br>

        <ion-item class="card item-remove-animate  item-icon-right" ng-repeat="note in notesOfDay">
            <a href="#" ng-click="openModal(note);" style="text-decoration:none;">

                <div class="item item-divider">{{note.name}}</div>

                <div class="item item-body">
                    <p>
                        {{note.text}}
                    </p>
                </div>
            </a>
        </ion-item>
    </div>
</div>
