<ion-view view-title="Network">
  <ion-content>
    <ion-list>
      <div class="list">
        <label class="item item-input item-stacked-label">
          <ion-toggle ng-model="vm.updateOnlyOnWifi.checked"
                      ng-change="vm.updateOnlyOnWifiChange()">
            Update Agenda only when on Wifi
          </ion-toggle>
        </label>
      </div>
    </ion-list>
    <div style="padding: 5px;">
    <button class="button button-block button-positive" ng-click="saveNetworkSettings()">
      Save
    </button>
    </div>
  </ion-content>
</ion-view>
